{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Pesquisando por {{ genre ? genre : 'Todos os Gêneros' }}</h1>

    <h2 class="mt-5 mb-4">Filtrar por Gênero</h2>
    <ul class="genre-list ps-0 mt-2 mb-3">
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_pesquisar', {
                slug: 'funk'
            }) }}">Funk</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_pesquisar', {
                slug: 'rock'
            }) }}">Rock</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_pesquisar', {
                slug: 'heavy-metal'
            }) }}">Heavy Metal</a>
        </li>
    </ul>

    <div>
        <h2 class="mt-5">Discos</h2>
        <div class="row">
            {% for disco in discos %}
            <div class="col col-md-4">
                <a 
                    href="{{ path('app_disco_show', {
                        id: disco.id
                    }) }}"
                    style="color:#fff; text-decoration:none;"
                >
                    <div class="mixed-vinyl-container p-3 text-center">
                        <img src="{{ disco.imageUrl(300) }}" alt="Capa Album">
                        <p class="mt-2"><strong>{{ disco.titulo }}</strong></p>
                        <span>{{ disco.contaFaixas }} Tracks</span>
                        |
                        <span>{{ disco.genero }}</span>
                        |
                        <span>{{ disco.criado|ago(locale='pt-BR') }}</span>
                        <br>
                        {{ disco.votosString }} votos
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
