{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Pesquisando por {{ genre ? genre : 'Todos os Gêneros' }}</h1>

    <h2 class="mt-5 mb-4">Filtrar por Gênero</h2>
    <ul class="genre-list ps-0 mt-2 mb-3">
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_pesquisar', {
                slug: 'mpb'
            }) }}">MPB</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_pesquisar', {
                slug: 'rock'
            }) }}">Rock</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_pesquisar', {
                slug: 'heavy-metal'
            }) }}">Heavy Metal</a>
        </li>
    </ul>

    <div>
        <h2 class="mt-5">Discos</h2>
        <turbo-frame id="lista_disco_pesquisa_{{ pager.currentPage }}">
            <div class="row">
                {% for disco in pager %}
                <div class="col col-md-4">
                    <a 
                        href="{{ path('app_disco_show', {
                            slug: disco.slug
                        }) }}"
                        style="color:#fff; text-decoration:none;"
                    >
                        <div class="mixed-vinyl-container p-3 text-center">
                            <img src="{{ disco.imageUrl(300) }}" alt="Capa Album">
                            <p class="mt-2"><strong>{{ disco.titulo }}</strong></p>
                            <span>{{ disco.contaFaixas }} Faixas</span>
                            |
                            <span>{{ disco.genero }}</span>
                            |
                            <span>{{ disco.createdAt|ago(locale='pt-BR') }}</span>
                            <br>
                            {{ disco.votosString }} votos
                        </div>
                    </a>
                </div>
                {% endfor %}

                {% if pager.hasNextPage %}
                    <turbo-frame 
                        id="lista_disco_pesquisa_{{ pager.nextPage }}" 
                        src="{{ pagerfanta_page_url(pager, pager.nextPage) }}" 
                        loading="lazy">
                    </turbo-frame>
                {% endif %}
            </div>
        </turbo-frame>
    </div>
</div>
{% endblock %}
